.DS_Store
archive/
todo/
plecs/
*.log
amps_simulation/__pycache__/
amps_simulation/core/__pycache__/
tests/__pycache__/
dist/
build/
amps_simulation.egg-info/
dist/**
build/**
.venv/**
.envrc
notes/
.cursorrules
CLAUDE.md
*.zip
results/
debug/test_results/
docs/pylectric.pdf
WARP.md
.claude/
.vscode/
debug/
docs/
*.bak
